<h3>
    Add new system
</h3>

<!-- START row-->
<div ng-controller="SystemController as form" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form name="form.formValidate" ng-submit="form.submitCond()" novalidate=""
                  class="form-validate form-horizontal">

                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fieldset class="b0">
                            <legend> <small> {{form.person.name | uppercase }} {{form.person.lastname | uppercase}}
                            </legend>
                        </fieldset>
                        <fieldset>
                            <label class="col-sm-2 control-label">System </label>
                            <div class="form-group col-sm-3">
                                <select chosen="" required="" name="condition"
                                        ng-model="form.system.id" ng-change="form.resetDiscount()"
                                        class="chosen-select input-md" width="'100%'"
                                    ng-options="product.id as product.label for product in form.products">
                                    <option value=""></option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label"> Discount </label>
                            <div class="col-sm-3 btn-group">
                                <button type="button" class="btn btn-default" ng-repeat="button in form.buttons" ng-click="form.updatePrice(button)">{{button}}</button>

                            </div>

                        </fieldset>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <h3 ng-if="form.system.finalPrice">
                                <span class="text-thin">Final price:</span> <b>{{form.system.finalPrice}}</b>
                            </h3>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="submit" ng-disabled="form.formValidate.$invalid" class="btn btn-info">Save
                        </button>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </div>
    <!-- END row-->
</div>