

<div ng-controller="UserController as user">
    <h3 class="text-center text-thin">

        <span ng-mode class="text-success">{{ user.currentUser.role }}</span>
        <br><br>
        <small>{{ user.currentUser.name }} {{ user.currentUser.lastname }}</small>
        <br><br>

    </h3>
    <h5 class="text-center"><b>{{ user.currentUser.email }}</b></h5>

    <div ng-if="user.loggedIn()">
        <p class="text-center">
            <button class="btn btn-primary btn-lg" ng-click="user.logout()">
                Logout <i class="fa fa-sign-out"></i>
            </button>
        </p>
    </div>

    <div ng-if="!user.loggedIn()">
        <!--<p class="text-center">-->
            <!--<button class="btn btn-primary btn-lg" ng-click="user.logout()">-->
                <!--Sign up <i class="fa fa-user-plus" aria-hidden="true"></i>-->
            <!--</button>-->
        <!--</p>-->
        <p class="text-center">
            <a ui-sref="account.login" class="btn btn-primary btn-lg">
                Login <i class="fa fa-sign-in" aria-hidden="true"></i>
            </a>
        </p>
    </div>


</div>