/*YO HE CREADO ESTE CSS CON
MI SUDOR Y LAGRIMAS*/
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.alert-warning{
  background-color: rgb(252, 248, 227) !important;
  color: #444 !important;
}