/*YO HE CREADO ESTE CSS CON
MI SUDOR Y LAGRIMAS*/
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

@ten: 10px;

.mb10{
  margin-bottom: @ten;
}

.alert-warning{
  background-color: rgba(118, 144, 159, 0.27) !important;
  color: #444 !important;
  margin-bottom: 2px;
}

.alert-danger{
  background-color: #249BD3 !important;
  color: #111 !important;
  margin-bottom: 2px;
}

.onemed-blue-bg{
  background-color: #249BD3 !important;
   color: white !important;
}
.onemed-dark-blue-bg{
  background-color: #1a7da7 !important;
   color: white !important;
}
.onemed-gray-bg{
  background-color: #677D8B !important;
 color: white !important;
}
.onemed-dark-gray-bg{
  background-color: #5a6b79 !important;
 color: white !important;
}
.onemed-green-bg{
  background-color: #73B877 !important;
  color: white !important;
}
.onemed-dark-green-bg{
  background-color: #66a56a !important;
  color: white !important;
}

.widget{
  height: 88px !important;
  cursor: hand;
}

.topnavbar{
  background-color: #249BD3 !important;
  background-image: none;
}

.notes-box{
  height: 470px;
}

.notes-box fieldset{
  margin: 0;
  padding: 0;
  padding-bottom: 0px;
  border: none;
}

.notes-box .form-group{
  padding-top: 10px;
}

.notes-scroll{
  height: 300px;
  overflow-x: auto;
}

.panel-footer{
  background: none;
  border: none;
}

.conditionbox h4{
  padding-top: 8px;
  color: white;
}

#conditions-scroll{
  height: 158px;
  overflow: auto;
}

.btn-info{
  background-color: #249BD3 !important;
}

.text-info{
  color: #249BD3 !important;
}

.panel .panel-default fieldset span{
  font-size: 16px;
}

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.pieLabelBackground{
  border-radius: 5px;
}

#loadingScreen{
  position: fixed;
  top:0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #249BD3;
}