<h3>
    Add patient Follow-up
</h3>

<!-- START row-->
<div ng-controller="FollowUpController as form" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form name="form.formValidate" ng-submit="form.submitForm()" novalidate=""
                  class="form-validate form-horizontal">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fieldset class="b0">
                            <legend>
                                {{form.person.name | uppercase}} {{form.person.lastname | uppercase }}
                            </legend>
                        </fieldset>
                        <fieldset>
                            <label class="col-sm-1 control-label">Notes </label>
                            <div class="form-group col-sm-4">
                                <div>
                                    <input type="text" name="name" placeholder="Write notes here" required=""
                                           ng-model="form.newFollowUp.text" class="form-control"/>
                                    <span ng-show="form.validateInput('name', 'required')" class="text-danger">This field is required</span>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label">Datepicker</label>
                            <div class="form-group col-sm-3">
                                <div class="">
                                    <p class="input-group">
                                        <input type="text" name="date" required=""
                                               uib-datepicker-popup="{{form.format}}"
                                               ng-model="form.newFollowUp.date" is-open="form.opened"
                                                max-date="'2019-12-22'"
                                               uib-datepicker-options="form.dateOptions"
                                               date-disabled="form.disabled(date, mode)"
                                               close-text="Close" class="form-control"/>
                                        <span class="input-group-btn">
                                             <button type="button" ng-click="form.open($event)" class="btn btn-default">
                                                 <em class="fa fa-calendar"></em>
                                             </button>
                                          </span>
                                        </p>
                                        <span ng-show="form.validateInput('date', 'required')" class="text-danger">This field is required</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <small class="text-muted">
                                    Required
                                </small>
                            </div>

                        </fieldset>

                    </div>
                    <div class="panel-footer text-center">
                        <button type="submit" ng-disabled="form.formValidate.$invalid" class="btn btn-info">Save
                        </button>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </div>
    <!-- END row-->
</div>