<h3>
    Prescriber
    <small>detailed view</small>
</h3>
<div ng-controller="ModifyFormValidationController as form" class="container-fluid">

    <div class="row">
        <a href="" style="visibility: hidden;">
            <div class="col-lg-3 hidden-md hidden-sm hidden-xs"><!-- START widget-->
                <div class="panel widget onemed-gray-bg">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center onemed-dark-gray-bg pv-lg"><em class="fa fa-file-o fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                            <div class="h4 mt0">
                                Add new file
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a ui-sref="app.newappointment({ id: '{{ target }}' })" href="">
            <div class="col-lg-3 col-md-12 col-sm-12"><!-- START widget-->
                <div class="panel widget onemed-green-bg">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center onemed-dark-green-bg pv-lg"><em
                                class="fa fa-calendar-plus-o fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                            <div class="h4 mt0">Add appointment</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a ui-sref="app.newlocation({ id: '{{ target }}' })" href="">
            <div class="col-lg-3 col-md-6 col-sm-12"><!-- START widget-->
                <div class="panel widget onemed-blue-bg">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center onemed-dark-blue-bg pv-lg"><em class="fa icon-location-pin fa-3x"
                                                                                        aria-hidden="true"></em></div>
                        <div class="col-xs-8 pv-lg">
                            <div class="h4 mt0"> Add location
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="col-lg-3 col-md-6 col-sm-12"><!-- START date widget-->
            <div class="panel widget">
                <div class="row row-table">
                    <div class="col-xs-4 text-center onemed-dark-green-bg pv-lg">
                        <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                        <now format="MMMM" class="text-sm">June</now>
                        <br>
                        <now format="d" class="h2 mt0">30</now>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <now format="EEEE" class="text-uppercase">Thursday</now>
                        <br>
                        <now format="h:mm" class="h2 mt0">11:25</now>
                        <now format="a" class="text-muted text-sm">AM</now>
                    </div>
                </div>
            </div><!-- END date widget    -->
        </div>

    </div>

    <!-- START row-->
    <div >
        <div class="row">
            <div class="col-md-12">
                <form name="form.formValidate" ng-submit="form.submitNote(form.target)" novalidate="" class="form-validate form-horizontal">
                    <!-- START panel-->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <fieldset class="b0">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="text-normal">
                                                {{form.person.name | uppercase}} {{form.person.middle}} {{form.person.lastname | uppercase}} {{form.target}}
                                                &nbsp;&nbsp;
                                                <span>
                                                    <b >NPI #:</b> {{form.person.npi}}
                                                </span>
                                            </h4>


                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-right mb10">
                                                <button class="btn btn-warning" ui-sref="app.moddoc({id: target})">
                                                    <i class="fa fa-edit"> </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <legend>
                                        </legend>
                                    </div>
                            </fieldset>
                            <fieldset>
                                <div class="col-md-8">
                                    <div class="">

                                        <div class="panel panel-default" style="">
                                            <div class="panel-body">
                                                <legend>
                                                    <h3>
                                                        {{form.person.name}} {{form.person.middle}} {{form.person.lastname}}
                                                    </h3>
                                                </legend>
                                            </div>
                                            <fieldset class="nopadding">
                                                <div class="col-md-6">
                                                    <span>Address:</span><h4>{{form.person.address}}</h4>
                                                    <span>City/State:</span><h4>{{form.person.city}} {{form.person.state}}</h4>
                                                    <span>Phone:</span><h4>{{form.person.phone}}</h4>
                                                    <div ng-if="form.person.fax">
                                                        <span>Fax:</span><h4>{{form.person.fax}}</h4>
                                                    </div>
                                                    <div ng-if="!form.person.fax">
                                                        <span>Fax:</span><h4> Not available </h4>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">

                                                    <div ng-if="form.person.address2">
                                                        <span>Address 2:</span><h4>{{form.person.address2}}</h4>
                                                    </div>
                                                    <div ng-if="!form.person.address2">
                                                        <span>Address 2:</span><h4> Not available </h4>
                                                    </div>
                                                    <span>Zipcode:</span><h4>{{form.person.postal}}</h4>
                                                    <div ng-if="form.person.phone2">
                                                        <span>Alternate Phone:</span><h4>{{form.person.phone2}}</h4>
                                                    </div>
                                                    <div ng-if="!form.person.phone2">
                                                        <span>Alternate Phone:</span><h4> Not available </h4>
                                                    </div>
                                                    <div ng-if="form.person.consultant">
                                                        <span>Consultant:</span>  <h4>{{form.person.consultant}} </h4>
                                                    </div>
                                                    <div ng-if="!form.person.consultant">
                                                        <span>Consultant:</span><h4 class="text-primary "> onemed </h4>
                                                    </div>

                                                </div>
                                                <br>
                                                <!--main location-->
                                                <div ng-if="form.person.location" class="col-md-12">
                                                    <br>
                                                    <h4>Main Location: &nbsp;&nbsp;&nbsp;
                                                        <span><a target="_blank" href="http://maps.google.com/maps?q={{form.person.location}}"> Click here <em class="icon-map"></em></a></span>
                                                    </h4>
                                                </div>
                                                <div ng-if="!form.person.location" class="col-md-12">
                                                    <br>
                                                    <h4>Main Location: &nbsp;&nbsp;&nbsp;
                                                        <span class="text-thin">Not available</span>
                                                    </h4>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>




                                    <!--<script>-->
                                        <!--$('#example').dataTable( {-->
                                            <!--"pageLength": "2"-->
                                        <!--} );-->
                                    <!--</script>-->


                                </div>


                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" >
                                                <legend>Patients</legend>
                                            </div>
                                            <div class="panel-body" >
                                                <div ng-controller="PatientPerDoctorDataTableController as table1">
                                                    <table datatable="ng" dt-options="table1.dtOptions" class="row-border hover">
                                                        <thead>
                                                        <tr>
                                                            <th>Full name</th>
                                                            <th>Birth Date</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="person in table1.persons">
                                                            <td>{{ person.name }} {{ person.middle }} {{ person.lastname }}</td>
                                                            <td>{{ person.birth | date:'MM/dd/yyyy'}} </td>
                                                            <td>
                                                                <div >
                                                                    <button type="button" ui-sref="app.expandpat({id: person._id})" class="btn btn-sm btn-info">
                                                                        <em class="fa fa-expand"></em>
                                                                    </button>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="clearfix"></div>

                                <div class="col-md-12">



                                    <div class="col-md-6" style="padding-right: 0px;">
                                        <div class="">
                                            <!--<form name="form.formValidate" ng-submit="form.submitNote(form.target)" novalidate="" class="form-validate form-horizontal">-->
                                            <!-- START panel-->
                                            <div class="panel panel-default notes-box">
                                                <div class="panel-body">
                                                    <fieldset class="b0 nopadding">
                                                        <legend>Notes </legend>
                                                    </fieldset>
                                                    <fieldset class="notes-scroll nopadding">
                                                        <!--<ul class="list-group" ng-repeat="note in notes">-->
                                                        <div ng-repeat="note in form.person.notes | orderBy: '-created_at'"
                                                             class="alert alert-warning alert-dismissible">
                                                            <button type="button" class="close" ng-click="form.deleteNote(note)" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <p> {{note.text}} </p>
                                                            <p class="text-right">
                                                                <span style="font-size: 17px !important;"> by: {{note.creator}} ~ {{ note.created_at |
                                                                    date:'MMM d, y h:mm:ss a'}}
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <!--</ul>-->
                                                    </fieldset>
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <input type="text" name="name" placeholder="New note"
                                                                       required="" ng-model="form.newNote.text"
                                                                       class="form-control" />
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div class="panel-footer text-center">
                                                        <button type="submit"  ng-disabled="form.formValidate.$invalid"
                                                                class="btn onemed-gray-bg">Save note
                                                            <em class="fa fa-sticky-note-o"></em> </button>
                                                    </div>
                                                </div>
                                                <!-- END panel-->
                                                <!--</form>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div style="padding: 10px;" class="panel panel-default" ng-if="form.person.locations" ng-controller="LocationsDataTableController as location">
                                        <legend>Locations</legend>
                                        <table id="example" datatable="ng"  dt-options="location.dtOptions" class="row-border hover">
                                            <thead>
                                            <tr>
                                                <!--<th>#</th>-->
                                                <th>Name</th>
                                                <th>Location</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="map in location.locations">
                                                <!--<td>{{ map._id }}</td>-->
                                                <td>{{ map.name }} </td>
                                                <td> {{ map.city}}, {{ map.state}} </td>
                                                <td>
                                                    <div ng-controller="DialogMainCtrl">
                                                        <button type="button" ng-click="openInlineController(map)" class="btn btn-sm btn-info">
                                                            <em class="fa fa-expand"></em>
                                                        </button>
                                                        <button type="button" ng-click="location.delete(map)" class="btn btn-sm btn-danger">
                                                            <em class="fa fa-trash-o"></em>
                                                        </button>
                                                        <a href="http://maps.google.com/maps?q={{map.latitude}},{{map.longitude}}" target="_blank" class="btn btn-sm btn-success">
                                                            <em class="fa fa-map-o"></em>
                                                        </a>
                                                    </div>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </div>


                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="panel panel-default" style="padding: 10px;" ng-if="form.person.appointments" ng-controller="AppointmentsDataTableController as appointment">
                                        <legend>Appointments</legend>
                                        <table datatable="ng" dt-options="appointment.dtOptions" class="row-border hover">
                                            <thead>
                                            <tr>
                                                <th>Text</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Location</th>
                                                <!--<th>Consultant</th>-->
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="app in appointment.appointments">
                                                <!--<td>{{ map._id }}</td>-->
                                                <td>{{ app.text }} </td>
                                                <td> {{ app.date | date:'shortDate' }} </td>
                                                <td> {{ app.time | date:'shortTime' }} </td>
                                                <td> {{ app.location }} </td>
                                                <!--<td> {{ app.consultantName }} </td>-->
                                                <td>
                                                    <div>
                                                        <button type="button" ng-click="appointment.delete(app._id, $index)" class="btn btn-sm btn-danger">
                                                            <em class="fa fa-trash-o"></em>
                                                        </button>
                                                    </div>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </fieldset>

                        </div>
                        <div class="panel-footer text-center">.

                        </div>
                    </div>
                    <!-- END panel-->
                </form>
            </div>
        </div>
        <!-- END row-->
    </div>
</div>
<script type="text/ng-template" id="withInlineController">
    <div class="ngdialog-message">
        <legend><h3 class="mt0"> {{locationName}} ({{locationCity}}, {{locationState}})</h3></legend>
        <br><br>
        <p>
            <strong>
                <em class="icon-home"></em> Address:
            </strong>
            {{locationAddress}}  {{locationAddress2}}
            {{locationCity}}, {{locationState}}. {{locationPostal}}.
        </p>
        <p>
            <strong>
                <em class="icon-phone"></em> Phone:
            </strong>
            {{phone}} &nbsp;&nbsp;&nbsp;
            <strong>
                <em class="fa fa-fax"></em> Fax:
            </strong>
            {{fax}}
        </p>
        <p>
            <strong><em class="icon-user"></em> Contact person: </strong>
            {{contact}}({{contact_position}})  &nbsp;&nbsp;&nbsp; <Strong> <em class="icon-phone"></em> Phone: </Strong>{{contact_phone}}
        </p>

        <br>
        <p class="text-right">
            <small class="text-right">Created on: {{ date | date:'MMM d, y h:mm:ss a'}}</small>
        </p>

        <div ng-controller="LocationsDataTableController as form2">
            <form name="form2.formValidate" ng-submit="form2.submitForm(locationId)" novalidate="" class="form-validate form-horizontal">
                <!-- START panel-->
                <div class="panel panel-default notes-box">
                    <div class="panel-body">
                        <fieldset class="b0 nopadding">
                            <legend>Notes </legend>
                        </fieldset>
                        <fieldset class="notes-scroll nopadding">
                            <!--<ul class="list-group" ng-repeat="note in notes">-->
                                <div ng-repeat="note in notes | orderBy: '-created_at'" class="alert alert-warning alert-dismissible">
                                    <button type="button" class="close" ng-click="form2.deleteNote(locationId, note)" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p> {{note.text}} </p>
                                    <p class="text-right"> <small>  by: {{note.creator}} ~ {{ note.created_at | date:'MMM d, y h:mm:ss a'}}</small> </p>
                                </div>
                            <!--</ul>-->
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" name="name" placeholder="Write notes here" required="" ng-model="form2.newNote.text" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="panel-footer text-center">
                            <button type="submit"  ng-disabled="form2.form2Validate.$invalid" class="btn onemed-gray-bg">Save note &nbsp; <em class="fa fa-sticky-note-o"></em> </button>
                        </div>
                    </div>
                    <!-- END panel-->
                </div>    
            </form>
        </div>



    </div>

    <div class="text-right">
        <br>
        <button type="button" ng-click="closeThisDialog()" class="btn btn-primary">Close</button>
    </div>
    </div>
</script>